@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&display=swap');
html,
body {
  font-family: 'Heebo', sans-serif;
  padding: 0;
  margin: 0;
}

* {
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
